.settings__status-indicator {
  height: 8px;
  width: 8px;
  margin-right: 8px;
  border-radius: 4px;
}

.settings__display-name {
  width: 300px;
}

.settings__image-url {
  width: 500px;
}

.settings__profile-image {
  height: 48px;
  width: 48px;
  border-radius: 24px;
}

.settings__user-image {
  margin-right: 8px;
}