@import '~@angular/material/theming';

@mixin message-theme($theme) {
  $foreground: map-get($theme, foreground);

  // Make sure links don't appear purple / any weird color
  .message__content a {
    color: mat-color($foreground, text);
  }

  .message__image {
    max-height: 300px;
    max-width: 300px;
  }
}
