<div class="message" fxFlex fxLayout="column" [fxLayoutAlign]="(isOwnMessage$ | async) ? 'end end' : 'start start'"
  [class.message--self]="isOwnMessage$ | async">

  <div fxLayout="row" fxLayoutAlign="start center">
    <hmct-user-image class="message__user-image" *ngIf="!(isOwnMessage$ | async)"
      [imageUrl]="(user$ | async)?.imageUrl"></hmct-user-image>
    <mat-card class="message__content" [class.message__content--self]="isOwnMessage$ | async">
      <mat-card-content>
        {{ message.message }}
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mat-caption">
    <span *ngIf="!(isOwnMessage$ | async)">
      {{ message.username }} ·
    </span>
    <span>
      {{ message.timestamp | date : 'EEEE h:mm a' }}
    </span>
  </div>
</div>
