@import '~@angular/material/theming';

@mixin user-theme($theme) {
  $background: map-get($theme, background);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);

  .user {
    background: mat-color($background, hover);
  }

  .user__status {
    background-color: mat-color($background, disabled-button);
  }

  .user__status--available {
    background-color: lawngreen;
  }

  .user__status--busy {
    background-color: red;
  }

  .user__status-inactive {
    background-color: orange;
  }

  .user__typing {
    color: mat-color($foreground, disabled-text);
  }
}
