@import '~@angular/material/theming';

@mixin chat-form-theme($theme) {
  $background: map-get($theme, background);
  $accent: map-get($theme, accent);

  .chat-form__message {
    background-color: mat-color($background, dialog);
  }

}
