<mat-sidenav-container autosize fxFill>
  <mat-sidenav #sidenav
    [mode]="(screen.isMobile$ | async ) ? 'over' : 'side'" opened
    [opened]="!(screen.isMobile$ | async )">
      <hmct-user-list></hmct-user-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="chat-room" fxFlex fxLayout="column">

        <div #feedScroll fxFlex class="chat-room__feed">
          <hmct-feed></hmct-feed>
        </div>

        <div  class="chat-room__typing-users">
          <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start center" *ngIf="(typingUsers$ | async)?.length > 0">
            <div @listAnimation *ngFor="let typingUser of typingUsers$ | async; trackBy:trackElement">
              <hmct-user-image class="chat-room__typing-user" [small]="true" [uid]="typingUser.uid" [matTooltip]="typingUser.displayName"></hmct-user-image>
            </div>
          </div>
        </div>

        <hmct-chat-form class="chat-room__chat-form" (messageSent)="onMessageSent()"></hmct-chat-form>

      </div>
  </mat-sidenav-content>
</mat-sidenav-container>
